
@model IEnumerable<DeskAspMvc.Models.Models.Location>
@{
    ViewData["Title"] = "Index";
    
}

@if (ViewBag.Status != null)
{
    <text>
        <div class="alert @(ViewBag.Status.hasSucceeded==false? "alert-danger" : "alert-success")" role="alert">
            @ViewBag.Status.message
        </div>
    </text>
}
<a class="btn btn-primary my-5" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr class="bg-primary text-white">
            <td>
                @Html.DisplayNameFor(model=>model.Name)
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>

    
    @foreach(var item in Model)
    {
        <tr class=" 
            @((ViewBag.editid??-1)==item.Id?"bg-info":"")
            @((ViewBag.createid??-1)==item.Id?"bg-info":"")">
            <td>
                @Html.DisplayFor(model=>item.Name)
            </td>   
           <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
           </td>
        </tr>
    }
    </tbody>
    
</table>
