
@model IEnumerable<DeskAspMvc.Models.Models.Desk>
@{
    ViewData["Title"] = "Index";
    
}

@if (ViewBag.Status != null)
{
    <text>
        <div class="alert @(ViewBag.Status.hasSucceeded==false? "alert-danger" : "alert-success")" role="alert">
            @ViewBag.Status.message
        </div>
    </text>
}
<a class="btn btn-primary my-5" asp-action="Create">Create</a>


<table class="table">
    <thead>
        <tr class="bg-primary text-white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="
                @((ViewBag.editid??-1)==item.Id?"bg-info":"")
                @((ViewBag.createid??-1)==item.Id?"bg-info":"")
            ">
                <td>
                    @Html.DisplayFor(modelItem=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Available)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
