<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeskAspMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeskAspMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DeskAspMvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="row">    
        <div class="col-2">
            <ul>
                <li class="nav-item">@Html.ActionLink("list of locations", "Index", "Location2", new { area = "Admin"}, new { @class="border-2 nav-link bg-light text-primary border border-primary rounded text-white-hover bg-primary-hover" })</li>
                <li class="nav-item ">@Html.ActionLink("list of desks", "Index", "Desk2", new { area = "Admin"}, new { @class="border-2 nav-link bg-light text-primary border border-primary rounded" })</li>
                <li class="nav-item">@Html.ActionLink("list of reservation for admin", "Index", "Reservation", new { area = "Admin"}, new { @class="border-2 nav-link bg-light text-primary border border-primary rounded" })</li>
                <li class="nav-item">@Html.ActionLink("gain admin privileges", "Gain", "AdminAccess", new { area = "Employee"}, new { @class="border-2 nav-link bg-light text-danger border border-danger rounded" })</li>
                <li class="nav-item">@Html.ActionLink("revoke admin privileges", "Revoke", "AdminAccess",new { area = "Employee"},  new { @class="border-2 nav-link bg-light text-danger border border-danger rounded" })</li>
                <li class="nav-item">@Html.ActionLink("test if you have admin privileges", "AdminTask", "AdminAccess",new { area = "Employee"}, new { @class="border-2 nav-link bg-light text-success border border-success rounded" })</li>
                <li class="nav-item">@Html.ActionLink("create book reservation", "Create", "Reservation2", new { area = "Employee"}, new { @class="border-2 nav-link bg-light text-success border border-success rounded" })</li>
                <li class="nav-item">@Html.ActionLink("list of your reservations", "Index", "Reservation2", new { area = "Employee"}, new { @class="border-2 nav-link bg-light text-success border border-success rounded" })</li>
            </ul>
        </div>
        <div class="col-10">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DeskAspMvc - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Selectize.js"></script>
    <link rel="stylesheet" href="~/css/selectize.bootstrap3.css" />
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("css", required: false)
</body>
</html>