@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model IEnumerable<DeskModel.Models.dto.AdminDeskDTO>
@{
    ViewData["Title"] = "Index";
    
}
<a asp-action="Create" >Create</a>
<ul>

    @foreach(var item in Model)
    {
        <li>
            @item.Name
            is available @item.isAvailable
            
            @item.LocationName
            @item.reservedForUsername
            
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |

            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </li>
    }
</ul>*@
